.movieContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  padding: 16px;
}
.movieProgress {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 30px;
  font-size: 20px;
}
.movieItem {
  margin: 12px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}
.movieImg {
  height: 278px;
  width: 183px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  /*margin-bottom: 7px;*/
}
.badgesItem {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 2px 4px 3px 5px;
}

.movieTitle {
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  /*margin-bottom: 7px;*/
  padding-right: 50px;
}
.movieDate {
  margin-bottom: 7px;
}

.movieItemInner {
  height: 281px;
  display: flex;
  width: 100%;
}

.rate {
  white-space: nowrap;
  align-self: flex-start;
}
.movieImgMobile {
  display: none;
}

@media (max-width: 1068px) {
  .movieProgress {
    right: 40px;
  }
}

@media (max-width: 1010px) {
  .movieContent {
    padding: 6px 10px;
  }
  .movieProgress {
    right: 45px;
  }
}

@media (max-width: 992px) {
  .movieTitle {
    padding-right: 70px;
  }
}

@media (max-width: 640px) {
  .movieContent {
    gap: 0px;
    justify-content: space-between;
  }
  .movieTitle {
    padding-right: 70px;
  }
}

@media (max-width: 560px) {
  .movieImgBlock {
    display: none;
  }
  .movieContentInnerMobile {
    display: flex;
    gap: 13px;
  }
  .movieImgMobile {
    display: block;
    height: 91px;
    width: 60px;
  }
  .rate {
    align-self: flex-end;
    padding-bottom: 18px;
  }
  .movieProgress {
    right: 30px;
  }
}
